<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901227427305-helv6b6qglopg0lngvddrnr1budmjbi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901227427305-helv6b6qglopg0lngvddrnr1budmjbi0</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Zf0B5I2rmZPkXTSRlLU-yFb-6hO6UeU</string>
	<key>GCM_SENDER_ID</key>
	<string>901227427305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chgicheg.simpleLoginFire</string>
	<key>PROJECT_ID</key>
	<string>firemain-48fbc</string>
	<key>STORAGE_BUCKET</key>
	<string>firemain-48fbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901227427305:ios:af9750ed8f225efabd0778</string>
</dict>
</plist>